<link rel="stylesheet" href="/static/assets/css/side.css">
<link rel="stylesheet" href="/static/assets/icons/tabler-icons/tabler-icons.css">
<link rel="stylesheet" href="/static/assets/css/cardStyle.css">
<link rel="stylesheet" href="/static/assets/css/form-utils/formStyle.css">
<link rel="stylesheet" href="/static/assets/css/table-utils/table-style.css">
<link rel="stylesheet" href="/static/assets/css/table-utils/">
<link rel="stylesheet" href="/static/assets/css/table-utils/bootstrap.min.css">