<section class="home-section">
  <div class="container">
      <header class="hero">
          <h2>Liste des employes</h2>
          <form class="prediction-form"  method="post">
              <input type="prediction" name="prediction" placeholder="Recherche">
              <button type="submit">Voir le resultat</button>
          </form>
      </header>
      <section class="resources">
        <div class="table-responsive custom-table-responsive">

            <table class="table custom-table">
              <thead>
                <tr>  
                  <th scope="col">ID</th>
                  <th scope="col">Name</th>
                  <th scope="col">Occupation</th>
                  <th scope="col">Contact</th>
                  <th scope="col">Education</th>
                </tr>
              </thead>
              <tbody>
                <tr scope="row">
                  <td>
                    1392
                  </td>
                  <td><a href="#">James Yates</a></td>
                  <td>
                    Web Designer
                    <small class="d-block">Far far away, behind the word mountains</small>
                  </td>
                  <td>+63 983 0962 971</td>
                  <td>NY University</td>
                </tr>
                <tr class="spacer"><td colspan="100"></td></tr>
                <tr>
                  <td>4616</td>
                  <td><a href="#">Matthew Wasil</a></td>
                  <td>
                    Graphic Designer
                    <small class="d-block">Far far away, behind the word mountains</small>
                  </td>
                  <td>+02 020 3994 929</td>
                  <td>London College</td>
                </tr>
                <tr class="spacer"><td colspan="100"></td></tr>
                
                
              </tbody>
            </table>
        </div>
      </section>
  </div>

</section>