<div class="sidebar open">
    <div class="logo-details">
      <object class="logo" type="image/svg+xml" data="/static/img/logo.svg" width="160" height="50"></object>
        <i class='ti ti-menu-2' id="btn" ></i>
    </div>
    <ul class="nav-list">


      <% Integer admin = (Integer)(request.getSession().getAttribute("ISADMIN"));

      if(admin==10){%>
        <li>
          <a href="/admin/affectation">
            <i class="ti ti-layout-dashboard"></i>
            <span class="links_name">Affectation</span>
          </a>
           <span class="tooltip">Affectation</span>
        </li>
        <li>
          <a href="/admin/reinit">
            <i class="ti ti-layout-dashboard"></i>
            <span class="links_name">Reinitialiser les donnees</span>
          </a>
           <span class="tooltip">Reinitialiser les donnees</span>
        </li>
        <h5> ___ </h5>
        <li>
          <a href="/admin/importetaperesultats">
            <i class="ti ti-layout-dashboard"></i>
            <span class="links_name">Etape&Resultat</span>
          </a>
           <span class="tooltip">Etape&Resultat</span>
        </li>
        <li>
          <a href="/admin/importpoint">
            <i class="ti ti-layout-dashboard"></i>
            <span class="links_name">Point</span>
          </a>
           <span class="tooltip">Point</span>
        </li>
        <li>
          <a href="/admin/generateCategorie">
            <i class="ti ti-layout-dashboard"></i>
            <span class="links_name">Generer les categories</span>
          </a>
           <span class="tooltip">Generer les categories</span>
        </li>
        <h5> ___ </h5>

      <%  
      }
      else{ %>
        <li>
          <a href="/equipe/homeEquipe">
            <i class="ti ti-layout-dashboard"></i>
            <span class="links_name">Accueil</span>
          </a>
           <span class="tooltip">Affectation</span>
        </li>
        <li>
          <a href="/equipe/affectation">
            <i class="ti ti-layout-dashboard"></i>
            <span class="links_name">Affectation</span>
          </a>
           <span class="tooltip">Affectation</span>
        </li>

        
      <%  
      }
      %>
      <li>
        <a href="/home/home">
          <i class="ti ti-layout-dashboard"></i>
          <span class="links_name">Etapes</span>
        </a>
         <span class="tooltip">Etapes</span>
      </li>
      <li>
        <a href="/home/classementCR">
          <i class="ti ti-layout-dashboard"></i>
          <span class="links_name">Classement Coureur</span>
        </a>
         <span class="tooltip">Classement Coureur</span>
      </li>
      <li>
        <a href="/home/classementEQ">
          <i class="ti ti-layout-dashboard"></i>
          <span class="links_name">Classement Equipe</span>
        </a>
         <span class="tooltip">Classement Equipe</span>
      </li>



     <div class="profile">
         <div class="profile-details">
           <div class="name_job">
             <div class="name">Dylan</div>
             <div class="job">Ratianarivo</div>
           </div>
         </div>
         <a href="/logout">
           <i class='ti ti-logout' id="log_out" ></i>
         </a>
     </div>
    </ul>
</div>