<div class="container">
    <header>
        <form method="post">
            <div class="row">
                <h2>Liste des employes</h2>
            </div>
            
            <div class="row">
                <label for="" class="label"> Nom :</label>
                <input type="text" name="prediction" placeholder="Nom">
            </div>
            <div class="row">
                <label for="" class="label"> Date :</label>
                <input type="date" name="prediction" placeholder="Date">
            </div>
            <div class="row">
                <label for="" class="label"> Date heure :</label>
                <input type="datetime-local" name="prediction" placeholder="Date">
            </div>                    
            <div class="row">
                <label for="" class="label"> Fichiers :</label>
                <input type="file" name="prediction" placeholder="Date">
            </div>
            <div class="row">
                <label for="" class="label"> Valider :</label>
                <button type="submit">Voir le resultat</button>
            </div>

        </form>
    </header>
</div>    