<div class="sidebar open">
    <div class="logo-details">
      <object class="logo" type="image/svg+xml" data="/static/assets/img/logo.svg" width="160" height="50"></object>
        <i class='ti ti-menu-2' id="btn" ></i>
    </div>
    <ul class="nav-list">
      <li>
        <i class="ti ti-search"></i>
         <input type="text" placeholder="Search...">
         <span class="tooltip">Search</span>
      </li>
      <li>
        <a href="./dashboard.html">
          <i class="ti ti-layout-dashboard"></i>
          <span class="links_name">Dashboard</span>
        </a>
         <span class="tooltip">Dashboard</span>
      </li>
      <li>
       <a href="#">
        <i class="ti ti-user"></i>
         <span class="links_name">User</span>
       </a>
       <span class="tooltip">User</span>
     </li>
     <div class="profile">
         <div class="profile-details">
           <div class="name_job">
             <div class="name">Dylan</div>
             <div class="job">Ratianarivo</div>
           </div>
         </div>
         <a href="logout">
           <i class='ti ti-logout' id="log_out" ></i>
         </a>
     </div>
    </ul>
</div>